{% extends "home/dashboard.html" %}
{% load static %}
{% block content %}
<div class="card-div">
  <div class="card" style="width: 18rem; border-radius: 10px; background-color: #997963; color: white;">
    <img class="card-img-top" src="{% static 'dashboard/projector.jpg' %}" alt="Card image cap" style=" border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <div class="card-body">
      <h5 class="card-title">Projector</h5>
      <p class="card-text">Epson EB-X51: 3LCD, XGA (1024×768), 3,800 lumens, HDMI, 12,000h lamp life.</p>
      <a href="#" class="btn" style="background-color: rgb(56, 29, 28); color: white;">Add</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; border-radius: 10px; background-color: #997963; color: white;">
    <img class="card-img-top" src="{% static 'dashboard/projector.jpg' %}" alt="Card image cap" style=" border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <div class="card-body">
      <h5 class="card-title">Projector</h5>
      <p class="card-text">Epson EB-X51: 3LCD, XGA (1024×768), 3,800 lumens, HDMI, 12,000h lamp life.</p>
      <a href="#" class="btn" style="background-color: rgb(56, 29, 28); color: white;">Add</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; border-radius: 10px; background-color: #997963; color: white;">
    <img class="card-img-top" src="{% static 'dashboard/projector.jpg' %}" alt="Card image cap" style=" border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <div class="card-body">
      <h5 class="card-title">Projector</h5>
      <p class="card-text">Epson EB-X51: 3LCD, XGA (1024×768), 3,800 lumens, HDMI, 12,000h lamp life.</p>
      <a href="#" class="btn" style="background-color: rgb(56, 29, 28); color: white;">Add</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; border-radius: 10px; background-color: #997963; color: white;">
    <img class="card-img-top" src="{% static 'dashboard/projector.jpg' %}" alt="Card image cap" style=" border-top-left-radius: 10px; border-top-right-radius: 10px;">
    <div class="card-body">
      <h5 class="card-title">Projector</h5>
      <p class="card-text">Epson EB-X51: 3LCD, XGA (1024×768), 3,800 lumens, HDMI, 12,000h lamp life.</p>
      <a href="#" class="btn" style="background-color: rgb(56, 29, 28); color: white;">Add</a>
    </div>
  </div>
</div>
{% endblock %}
