* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: Arial, sans-serif;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #3e4a24;
  color: white;
  padding: 20px;
  transition: width 0.3s;
}
.sidebar.collapsed {
  width: 60px;
  overflow: hidden;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar ul li {
  padding: 15px;
  cursor: pointer;
  background-color: #4a582a;
  margin: 20px 0;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}
.sidebar ul li:hover {
  background-color: #3e4a24;
}
.toggle-btn {
  cursor: pointer;
  color: white;
  padding: 10px;
  text-align: center;
}
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #e7d4c0;
}

.dashboard-heading{
  color: #4a582a;
}