@font-face {
  font-family: 'Euclid Circular A';
  src: url('{% static "fonts/Euclid-Circular-A-Bold.ttf" %}') format('truetyp'),
      url('{% static "fonts/Euclid-Circular-A-SemiBold.ttf" %}') format('truetyp'),
      url('{% static "fonts/Euclid-Circular-A-Light.ttf" %}') format('truetyp'),
      url('{% static "fonts/Euclid-Circular-A-Medium.ttf" %}') format('truetyp'),
      url('{% static "fonts/Euclid-Circular-A-Regular.ttf" %}') format('truetyp');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Euclid Circular A';
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 30px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}
