body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}


.card {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 30px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}
